
.Rproj.user/DAB46CDE/sources/s-10721A77/9F2280F6-contents
.Rproj.user/DAB46CDE/sources/prop/AD288AFD
.Rproj.user/DAB46CDE/sources/prop/746AA5AA
.Rproj.user/DAB46CDE/sources/prop/INDEX
.Rproj.user/DAB46CDE/sources/s-10721A77/1EC50DEB-contents
.Rproj.user/DAB46CDE/sources/s-10721A77/9F2280F6
.Rproj.user/shared/notebooks/paths
